{% extends 'base.html.twig' %}

{% block title %}
Modify Profile
{% endblock %}

{% block body %}

    <h2 class="title-profile">Edit your profile</h2>
    <div class="profile-edit">
    {{ form_errors(updateUserForm) }}

    {{ form_start(updateUserForm) }}

    {{ form_widget(updateUserForm) }}
        <div>
            <button type="submit" class="btn">Update</button>
        </div>
    {{ form_end(updateUserForm) }}
        <div>
            <a href="{{ path('app_main') }}" class="btn btn-primary">
                Annuler
            </a>
        </div>
</div>
{% endblock %}

