{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile">
    <h2>{{ participant.pseudo }}</h2>
    <div>Prenom : {{ participant.prenom }}</div>
    <div>Nom : {{ participant.nom }}</div>
    <div>Telephone : {{ participant.telephone }}</div>
    <div>Email : {{ participant.email }}</div>
    <div>Campus : {{ participant.campus }}</div>

    <a href="{{ path('app_main') }}" class="btn btn-primary">
        Retour
    </a>

    {# Pass the participant's ID to the edit route #}
    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}" class="btn btn-primary">
        Modifier
    </a>
    </div>
{% endblock %}

{% block title %}
    My Profile
{% endblock %}
