{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ participant.pseudo }}</h2>
    <div>Prenom : {{ participant.prenom }}</div>
    <div>Nom : {{ participant.nom }}</div>
    <div>Telephone : {{ participant.telephone }}</div>
    <div>Email : {{ participant.email }}</div>
    <div>Campus : {{ participant.campus }}</div>
{% endblock %}

{% block title %}
    User Profile
{% endblock %}

