{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <table style="border-collapse: collapse; border: 1px solid black;">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture</th>
            <th>Inscrit/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date('Y-m-d H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription | date('Y-m-d') }}</td>
                <td>{{ sortie.participantsInscrits|length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {{ app.user in sortie.participantsInscrits ? "X" : "" }}
                </td>
                <td>
                    {% if app.user == sortie.participantOrganisateur %}
                        <a href="{{ path('app_participant_profile', {'id': app.user.id}) }}">{{ sortie.participantOrganisateur.pseudo }}</a>
                    {% else %}
                        {{ sortie.participantOrganisateur.nom }}. {{ sortie.participantOrganisateur.prenom|slice(0,1) }}
                    {% endif %}
                </td>
                <td>
                    {% if app.user.userIdentifier in sortie.participantOrganisateur.userIdentifier and sortie.etat.id == 29 %}
                        <a href="{{ path('app_sortie_details', {'id': sortie.id}) }}">Modifier</a> | <a href="">Publier</a>
                    {% elseif app.user.userIdentifier in sortie.participantOrganisateur.userIdentifier %}
                        <a href="{{ path('app_sortie_details', {'id': sortie.id}) }}">Afficher</a> | <a href="">Se d'esister</a>
                    {% elseif app.user in sortie.participantsInscrits %}
                        <a href="{{ path('app_sortie_details', {'id': sortie.id}) }}">Afficher</a> | <a href="">Se d'esister</a>
                    {% else %}
                        Afficher
                    {% endif %}

                    {% if app.user not in sortie.participantsInscrits and sortie.etat.id == 31%}
                        <a href="#">| S'inscirire</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
