<nav>
    <ul>
        <li><a href="{{ path('app_main') }}" title="Home">Home</a></li>

        {% if app.user %}

            <li><a href="{{ path('app_participant_profile', {'id': app.user.id }) }}" title="Profile">My Profile ({{ app.user.prenom }})</a></li>
            <li><a href="{{ path('app_logout') }}" title="Logout">Logout</a></li>

        {% else %}

            <li><a href="{{ path('app_register') }}" title="Create account">Create account</a></li>
            <li><a href="{{ path('app_login') }}" title="Login">Login</a></li>

        {% endif %}
    </ul>
</nav>